* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}
i {
  cursor: pointer;
}
a {
  text-decoration: none;
  color: white;
}

.navbar {
  background-color: #212529;
  color: white;
  padding: 25px 60px;
  margin-bottom: 30px;
}

/*
 Flex box
*/
.display-f {
  display: flex;
}
.fd-c {
  flex-direction: column;
}
.jc-sb {
  justify-content: space-between;
}
.jc-c {
  justify-content: center;
}
.ai-c {
  align-items: center;
}
/* END flex box */

.cart {
  position: relative;
  background-color: #fff;
  color: #212529;
  font-size: 30px;
  padding: 5px;
  border-radius: 4px;
}
.cartAmount {
  position: absolute;
  top: -15px;
  right: -10px;
  font-size: 16px;
  background-color: red;
  color: white;
  padding: 3px;
  border-radius: 3px;
}
.shop {
  display: grid;
  grid-template-columns: repeat(4, 223px);
  gap: 30px;
}
@media (max-width: 1000px) {
  .shop {
    grid-template-columns: repeat(2, 223px);
  }
}
@media (max-width: 500px) {
  .shop {
    grid-template-columns: repeat(1, 223px);
  }
}
.item {
  border: 2px solid #212529;
  border-radius: 4px;
}
.details {
  padding: 10px;
  gap: 10px;
}
.buttons {
  gap: 8px;
}
.bi-dash-lg {
  color: red;
}

.bi-plus-lg {
  color: green;
}

/*
style rules for label and buttons
*/
.text-center {
  text-align: center;
  margin-bottom: 20px;
}
.HomeBtn,
.checkout,
.removeAll {
  background-color: #212529;
  color: white;
  border: none;
  padding: 6px;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 10px;
}
.checkout {
  background-color: green;
}
.removeAll {
  background-color: red;
}
.bi-x-lg {
  color: red;
  font-weight: bold;
}

.shoping-card {
  display: grid;
  grid-template-columns: repeat(1, 320px);
  justify-content: center;
  gap: 15px;
}
.card-item {
  border: 2px solid #212529;
  border-radius: 5px;
}
.title-price-x {
  width: 195px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 2px solid red; */
}
.title-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.card-item-price {
  background-color: #212529;
  color: white;
  border-radius: 4px;
  padding: 3px 6px;
}
